---
import Layout from '../layouts/Layout.astro'
import backgroundImage from '../assets/images/background_image.webp'
import { Image } from '@astrojs/image/components'
---

<Layout title="Welcome to Astro.">
	<main>
		<Image src={backgroundImage} alt="background image" width={1920} height={1080} />
		<h1 class="text-2xl">Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			Check out the <code>src/pages</code> directory to get started.<br />
			<strong>Code:</strong> Tweak the "Welcome to Astro" message above.
		</p>
	</main>
</Layout>
