---
import '../style/global.css'
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="flex" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="overflow-x-hidden">
		<main class="relative min-h-screen min-w-full ">
			<div class="radial-grad h-[200vh] top-0 w-screen absolute" />
			<slot />
		</main>
	</body>
</html>
<style is:global>

	.radial-grad {
		background: radial-gradient(50% 50% at 50% 50%, #787878 0%, #1F1E1E 100%);;
	}

	html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
	}

	html::-webkit-scrollbar-thumb {
		background: #434343;
		border-radius: 4px;
	}

	html::-webkit-scrollbar-track {
		background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
	}
</style>
